@charset "utf-8";
/* CSS Document */

/*全局定义*/
body { margin:0; padding:0; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:12px; background:#050505;}
body,div,td,th,p { line-height:21px; color:#5c575e; font-size:12px; font-family:Verdana,Arial, Helvetica, sans-serif;}
li,ul { list-style:none; line-height:21px; margin:0 auto; margin:0; padding:0;}
a { color:#fff; text-decoration:none;}
a:hover { color:#000;}

/*整体框架*/
#bg { width:766px; height:550px; background:url(../imgs/bg.jpg); margin:0 auto; padding-left:120px; padding-top:100px;}
.login_bg { width:655px; height:268px; background:url(../imgs/login_go.png) 2px 6px no-repeat; padding:82px 0 0 0;}
.login_center { width:281px; height:252px;padding:46px 0 0 304px;}
.login_news { width:535px; height:65px; padding-left:125px; line-height:65px; color:#98c2ea;}
.login_news a:link,.login_news a:visited { line-height:65px; color:#98c2ea;}
.login_news a:hover { line-height:65px; color:#fff;}
.login_news_text01 { width:281px; height:22px; margin-bottom:9px; padding-top:3px;}
.login_news_text02 { width:281px; height:22px; margin-bottom:21px;padding-top:3px;margin-top: 28px;}
.login_news_text03 { width:281px; height:25px; margin-bottom:9px;}
.login_news_text031 { width:98px; height:22px; float:left; padding-top:3px; margin-right:1px;}
.login_news_text032 { width:83px; height:25px; float:left;}
.login_news_text04 { width:281px; height:36px; padding-top:8px;margin-left: -26px;}
.login_copyright { width:655px; height:30px;line-height:30px; color:#98c2ea; text-align:center;margin-top: 63px;}